server {
    listen       ${SERVER_PORT};
    server_name  ${SERVER_HOST};

    location / {
        root   /usr/share/nginx/html;
        index  index.html;
        try_files $uri $uri/ /index.html;
    }

    location /api {
        proxy_pass ${BACKEND_URL}/api;
        include proxy.conf;
        client_max_body_size 2048M;
    }
}
