<button mat-mini-fab color="primary" class="close-btn" (click)="close()">
  <mat-icon>close</mat-icon>
</button>

<h2 mat-dialog-title>{{ merchant.unit.name }}</h2>
<mat-dialog-content>
  <img [src]="merchant.imageUrl" [alt]="merchant.unit.name">
  <div class="description">
    <h3>{{ merchant.unit.category }}</h3>
    <div class="specifications">
      <p>Displacement: {{ merchant.unit.displacement }} t</p>
      <p>Length: {{ merchant.unit.length }} m</p>
      <p>Beam: {{ merchant.unit.beam }} m</p>
      <p>Draft: {{ merchant.unit.draft }} m</p>
      <p>Mast: {{ merchant.unit.mast }} m</p>
      <p>Speed: {{ merchant.unit.speed }} kn</p>
    </div>
  </div>
</mat-dialog-content>
