<div class="action-buttons" *ngIf="editable | async">
  <button mat-button color="primary">Add merchant</button>
</div>

<mat-card class="unit-card" *ngFor="let merchant of merchants">
  <mat-card-header>
    <mat-card-title>{{ merchant.unit.name }}</mat-card-title>
    <mat-card-subtitle>{{ merchant.unit.category | titlecase }}</mat-card-subtitle>
  </mat-card-header>
  <img [src]="merchant.thumbUrl" [alt]="merchant.unit.name">
  <mat-card-content>
    <p>Displacement: {{ merchant.unit.displacement }} t</p>
    <p>Length: {{ merchant.unit.length }} m</p>
    <p>Beam: {{ merchant.unit.beam }} m</p>
    <p>Draft: {{ merchant.unit.draft }} m</p>
    <p>Mast: {{ merchant.unit.mast }} m</p>
    <p>Speed: {{ merchant.unit.speed }} kn</p>
  </mat-card-content>
</mat-card>
