.action-buttons {
  margin: 16px;
}

.unit-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.filters {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

app-uboat-card {
  width: 200px
}
