<h3 mat-dialog-title>Add warship</h3>

<app-image-paste (imageLoaded)="imageLoaded($event)"></app-image-paste>

<mat-dialog-content>
  <form [formGroup]="form" (submit)="submit()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Displacement, t</mat-label>
      <input matInput type="number" formControlName="displacement">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Length, m</mat-label>
      <input matInput type="number" formControlName="length">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Beam, m</mat-label>
      <input matInput type="number" formControlName="beam">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Draft, m</mat-label>
      <input matInput type="number" formControlName="draft">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Mast, m</mat-label>
      <input matInput type="number" formControlName="mast">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Spped, kn</mat-label>
      <input matInput type="number" formControlName="speed">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let cat of CATEGORIS" [value]="cat">{{ cat }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox formControlName="deckGun"><img src="assets/icons/deck_gun.png" class="unit-icon">Deck gun</mat-checkbox>
    <mat-checkbox formControlName="aaGun"><img src="assets/icons/aagun.png" class="unit-icon">AA gun</mat-checkbox>
    <mat-checkbox formControlName="torpedoes"><img src="assets/icons/torpedo.png" class="unit-icon">Torpedoes</mat-checkbox>
    <mat-checkbox formControlName="depthCharges"><img src="assets/icons/depth_charge.png" class="unit-icon">Depth Charges</mat-checkbox>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button type="button" mat-button (click)="cancel()">Cancel</button>
  <button type="button" mat-button color="primary" (click)="submit()" [disabled]="!form.valid || !image">Add</button>
</mat-dialog-actions>
